.main {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* 헤더 스타일 */
.header {
  display: flex;
  justify-content: space-between; /* 좌측, 중앙, 우측 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-bottom: 20px;
  padding: 5px 0;
  width: 100%;
  box-sizing: border-box;
}

.header span {
  font-size: 12px; /* 텍스트 크기 조정 */
  font-weight: 600;
}

.header span:first-child {
  text-align: left;
  flex: 1;
}

.header span:nth-child(2) {
  text-align: center;
  flex: 1;
}

.header .calendar-button {
  background: none;
  border: none;
  cursor: pointer;
  flex: 1;
  text-align: right;
}

.header .calendar-icon {
  width: 20px;
  height: 20px;
}

/* 약 정보 카드 스타일 */
.medication-card {
  background-color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.medication-card h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.medication-card .medication-list p {
  font-size: 14px;
  margin: 5px 0;
}

/* 버튼 섹션 스타일 */
.button-section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.search-button,
.camera-button {
  width: 110px; /* 모바일 화면을 고려하여 크기 축소 */
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #000;
  border-radius: 20px;
  font-size: 12px; /* 텍스트 크기 축소 */
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}

.button-icon {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}