.main {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* 헤더 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 0;
  width: 100%;
  box-sizing: border-box;
}

.header span {
  font-size: 14px;
  font-weight: 600;
}

/* 약 정보 카드 스타일 */
.medication-card {
  background-color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.medication-card h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.medication-card .medication-list p {
  font-size: 14px;
  margin: 5px 0;
}

/* 버튼 섹션 스타일 */
.button-section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2x2 배열 */
  gap: 15px;
  margin-top: 20px;
}

.button-item {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #000;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}

.button-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}